**/__pycache__
.gradle
.idea
Pipfile
Pipfile.lock
_HTTP_CACHE
build
dev/compose-local.yml
dev/logs
frc-codex-server.secrets
govuk-frontend.**
node_modules
package-lock.json
src/main/resources/static/assets
tmp
dev/taxonomy_packages/*.zip
