_HTTP_CACHE
.gradle
.idea
**/__pycache__
/puppeteer/artifacts/
bin
build
dev/compose-local.yml
dev/logs
dev/taxonomy_packages/*.zip
frc-codex-server.secrets
govuk-frontend.**
node_modules
Pipfile
Pipfile.lock
src/main/resources/static/assets
tmp
