<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FRC CODEx Filing Index</title>
    <link rel="stylesheet" href="/style-admin.css">
</head>
<body>
<div class="container">
    <h1><a href="/">FRC CODEx Filing Index</a></h1>
    <h3>Unprocessed Filings</h3>
    <table>
        <tr>
            <th>Filings (<span th:text="(${unprocessedFilings.size()})"></span>)</th>
            <th>Discovered</th>
            <th>Status</th>
            <th>Registry</th>
            <th>Company Name</th>
            <th>Download</th>
        </tr>
        <th:block th:each="filing : ${unprocessedFilings}">
            <tr>
                <td th:text="${filing.getFilingId()}">...</td>
                <td th:text="${filing.getDiscoveredDate()}">...</td>
                <td th:text="${filing.getStatus()}">...</td>
                <td th:text="${filing.getRegistryCode()}">...</td>
                <td th:text="${filing.getCompanyName()}">...</td>
                <td th:text="${filing.getDownloadUrl()}">...</td>
            </tr>
        </th:block>
    </table>
    <h3>Failed Filings</h3>
    <table>
        <tr>
            <th>Filings (<span th:text="(${failedFilings.size()})"></span>)</th>
            <th>Discovered</th>
            <th>Registry</th>
            <th>Company Name</th>
            <th>Download</th>
        </tr>
        <th:block th:each="filing : ${failedFilings}">
            <tr>
                <td th:text="${filing.getFilingId()}">...</td>
                <td th:text="${filing.getDiscoveredDate()}">...</td>
                <td th:text="${filing.getRegistryCode()}">...</td>
                <td th:text="${filing.getCompanyName()}">...</td>
                <td th:text="${filing.getDownloadUrl()}">...</td>
            </tr>
        </th:block>
    </table>
    <h3>Completed Filings</h3>
    <table>
        <tr>
            <th>Filings (<span th:text="(${completedFilings.size()})"></span>)</th>
            <th>Discovered</th>
            <th>Registry</th>
            <th>Company Name</th>
            <th>Stub Viewer</th>
        </tr>
        <th:block th:each="filing : ${completedFilings}">
            <tr>
                <td th:text="${filing.getFilingId()}">...</td>
                <td th:text="${filing.getDiscoveredDate()}">...</td>
                <td th:text="${filing.getRegistryCode()}">...</td>
                <td th:text="${filing.getCompanyName()}">...</td>
                <td th:text="${filing.getStubViewerUrl()}">...</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
