body {
    font-family:sans-serif;
}
.container {
    margin:1em;
    padding:1em;
    border-left: 1px solid black;
    border-radius: 1em;
    box-shadow: 0 0 6px 0 lightgrey
}
th, td {
    text-align:left;
}
td {
    font-family:monospace;
}
