html, body {
    overscroll-behavior: none;
}

* {
    font-family: Arial, Helvetica, sans-serif !important;
}

.govuk-width-container {
    max-width: 1200px;
}

@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: 10%; /* Reduce width of logo container */
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key {
        width: 35%; /* Increase width of key column */
    }
}

.loading-bar {
    padding:1em;
    font-size:1.5em;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
     0% { transform: rotate(0deg); }
     100% {  transform: rotate(359deg); }
}

.loading-bar img {
    animation: spin 2s linear infinite;
    width: 1em;
    padding: 1em;
}

.search-result dt, .search-result dd {
    text-align: left;
    margin-right: 20px;
}
.search-result dl {
    flex-grow:10;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-size: 1.1em;
}
.search-result dt {
    font-weight:bold;
    font-size:0.8em;
    text-transform: uppercase;
    color: #666;
}
.search-result dd {
    margin-inline-start: 0;
    padding: 6px 0;
}

.search-result .download-link {
    position: relative;
    white-space: nowrap;
}

.search-result .download-link .download-tooltip {
    display: none;
    white-space: normal;
    position:absolute;
    right:0;
    top:100%;
    width: 200px;
    background:white;
    border:1px solid black;
    padding:10px;
    z-index: 1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-result .download-link:hover .download-tooltip {
    display: block;
}

.search-result .download-link img {
    margin-bottom: -3px;
}

.search-result hr {
    margin: 20px 0;
}
