html, body {
    overscroll-behavior: none;
}

* {
    font-family: Arial, Helvetica, sans-serif !important;
}


@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: 10%; /* Reduce width of logo container */
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key {
        width: 35%; /* Increase width of key column */
    }
}
