<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UK iXBRL Viewer</title>
    <link rel="stylesheet" href="/style-admin.css">
</head>
<body>
<div class="container">
    <h1><a href="/">UK iXBRL Viewer</a></h1>
    <table>
        <tr>
            <th>Company</th>
            <td th:text="${company}"></td>
        </tr>
        <tr>
            <th>Filing URLs</th>
            <td><pre th:text="${filingUrls}"></pre></td>
        </tr>
    </table>
</div>
</body>
</html>
