<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head th:replace="fragments/page :: head-main (title='UK iXBRL Viewer')"></head>
<body class="govuk-template__body">
<script th:replace="fragments/page :: script-govuk-frontend-supported"></script>
<a th:replace="fragments/page :: link-skip-to-main"></a>
<header th:replace="fragments/page :: header"></header>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">
                    <a class="govuk-link" href="#">Contact us</a> if you need assistance.
                </p>
            </div>
        </div>
    </main>
</div>
<footer th:replace="fragments/page :: footer-main"></footer>
<div th:replace="fragments/page :: script-govuk-frontend"></div>
</body>

</html>
