<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FRC CODEx Filing Index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1><a href="/">FRC CODEx Filing Index</a></h1>
    <h3>Search Filings</h3>
    <form action="#" th:action="@{/}" th:object="${searchFilingsRequest}" method="post">
        <table>
            <tr>
                <th>Company Name</th>
                <td><input type="text" th:field="*{companyName}" /></td>
            </tr>
            <tr>
                <th>Company Number</th>
                <td><input type="text" th:field="*{companyNumber}" /></td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset" /></td>
                <td><input type="submit" value="Search" /></td>
            </tr>
        </table>
    </form>
    <p th:if="${message != null}">
        <i th:text="${message}"></i>
    </p>
    <table th:if="${filings != null && filings.size() > 0}">
        <tr>
            <th>Company Name</th>
            <th>Company Number / LEI</th>
            <th>Date Filed</th>
        </tr>
        <th:block th:each="filing : ${filings}">
            <tr th:title="${filing.getFilingId()}">
                <td th:text="${filing.getCompanyName()}">...</td>
                <td th:text="${filing.getCompanyNumber()}">...</td>
                <td th:text="${filing.getFilingDate()}">...</td>
                <td><a th:href="${filing.getViewerLink()}">View</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
