<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
    <meta charset="utf-8">
    <title>FRC CODEx Filing Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="stylesheet" href="/govuk-frontend.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="govuk-template__body">
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
<header class="govuk-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="https://www.frc.org.uk/" class="govuk-header__link">
                <img src="/logo.svg"
                     alt="FRC Logo"
                     height="30"
                     width="70">
            </a>
        </div>
        <div class="govuk-header__content">
            <a href="/" class="govuk-header__link govuk-header__service-name">
                Filing Index
            </a>
        </div>
    </div>
</header>
<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="/help">feedback</a> will help us to improve it.
        </span>
        </p>
    </div>
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-l">View XBRL data from any tagged company report</h1>
        <div class="govuk-inset-text">
            Extensible Business Reporting Language (XBRL) is a standardized way of tagging company reports,
            required by regulatory bodies such as Companies House and the Financial Conduct Authority (FCA).
            It helps organize company information so it's easy to find what you're looking for.
        </div>
        <h1 class="govuk-heading-l" id="main-content">Search Filings</h1>
        <form action="#" th:action="@{/}" th:object="${searchFilingsRequest}" method="get">
            <div class="govuk-form-group">
                <label class="govuk-label" for="company-name-or-number">
                    Search by Company Name or Number
                </label>
                <input class="govuk-input"
                       id="company-name-or-number"
                       placeholder="Company Name, CRN (Company Registration Number), or LEI (Legal Entity Identifier)"
                       type="text"
                       required
                       th:field="*{searchText}">
            </div>
            <details id="advanced-search" class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Advanced Search
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-form-group" th:classappend="${minDocumentDateError != null} ? govuk-form-group--error : govuk-form-group--valid">
                                <fieldset class="govuk-fieldset" role="group" aria-describedby="min-document-date-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__legend">
                                            Document Date
                                        </h1>
                                    </legend>
                                    <div id="min-document-date-hint" class="govuk-hint">
                                        From
                                    </div>
                                    <p th:if="${minDocumentDateError != null}" id="min-document-date-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span><span th:text="${minDocumentDateError}"></span>
                                    </p>
                                    <div class="govuk-date-input" id="min-document-date">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="min-document-date-year">
                                                    Year
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="min-document-date-year" th:field="*{minDocumentDateYear}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="min-document-date-month">
                                                    Month
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="min-document-date-month" th:field="*{minDocumentDateMonth}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="min-document-date-day">
                                                    Day
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="min-document-date-day" th:field="*{minDocumentDateDay}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-form-group" th:classappend="${maxDocumentDateError != null} ? govuk-form-group--error : govuk-form-group--valid">
                                <fieldset class="govuk-fieldset" role="group" aria-describedby="max-document-date-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__legend">
                                            <span class="govuk-visually-hidden">Document Date</span>&nbsp;
                                        </h1>
                                    </legend>
                                    <div id="max-document-date-hint" class="govuk-hint">
                                        To
                                    </div>
                                    <p th:if="${maxDocumentDateError != null}" id="max-document-date-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span><span th:text="${maxDocumentDateError}"></span>
                                    </p>
                                    <div class="govuk-date-input" id="max-document-date">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="max-document-date-year">
                                                    Year
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="max-document-date-year" th:field="*{maxDocumentDateYear}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="max-document-date-month">
                                                    Month
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="max-document-date-month" th:field="*{maxDocumentDateMonth}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="max-document-date-day">
                                                    Day
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="max-document-date-day" th:field="*{maxDocumentDateDay}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-form-group" th:classappend="${minFilingDateError != null} ? govuk-form-group--error : govuk-form-group--valid">
                                <fieldset class="govuk-fieldset" role="group" aria-describedby="min-filing-date-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__legend">
                                            Filing Date
                                        </h1>
                                    </legend>
                                    <div id="min-filing-date-hint" class="govuk-hint">
                                        From
                                    </div>
                                    <p th:if="${minFilingDateError != null}" id="min-filing-date-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span><span th:text="${minFilingDateError}"></span>
                                    </p>
                                    <div class="govuk-date-input" id="min-filing-date">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="min-filing-date-year">
                                                    Year
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="min-filing-date-year" th:field="*{minFilingDateYear}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="min-filing-date-month">
                                                    Month
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="min-filing-date-month" th:field="*{minFilingDateMonth}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="min-filing-date-day">
                                                    Day
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="min-filing-date-day" th:field="*{minFilingDateDay}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-form-group" th:classappend="${maxFilingDateError != null} ? govuk-form-group--error : govuk-form-group--valid">
                                <fieldset class="govuk-fieldset" role="group" aria-describedby="max-filing-date-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__legend">
                                            <span class="govuk-visually-hidden">Filing Date</span>&nbsp;
                                        </h1>
                                    </legend>
                                    <div id="max-filing-date-hint" class="govuk-hint">
                                        To
                                    </div>
                                    <p th:if="${maxFilingDateError != null}" id="max-filing-date-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span><span th:text="${maxFilingDateError}"></span>
                                    </p>
                                    <div class="govuk-date-input" id="max-filing-date">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="max-filing-date-year">
                                                    Year
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="max-filing-date-year" th:field="*{maxFilingDateYear}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="max-filing-date-month">
                                                    Month
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="max-filing-date-month" th:field="*{maxFilingDateMonth}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="max-filing-date-day">
                                                    Day
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="max-filing-date-day" th:field="*{maxFilingDateDay}" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-form-group">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="registryCode">
                                        Registry
                                    </label>
                                    <div id="registryCode-hint" class="govuk-hint">
                                    </div>
                                    <select class="govuk-select" id="registryCode" th:field="*{registryCode}" aria-describedby="registryCode-hint">
                                        <option value="" selected>Any</option>
                                        <option th:each="registry:${T(com.frc.codex.RegistryCode).values()}"
                                                th:value="${registry.getCode()}"
                                                th:text="${registry.getDisplayName()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </details>
            <div class="govuk-button-group" style="justify-content: flex-end;">
                <button type="submit" class="govuk-button govuk-button--start" data-module="govuk-button" data-prevent-double-click="true">
                    Search
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </button>
            </div>
        </form>
        <p th:if="${message != null}" class="govuk-body">
            <i th:text="${message}"></i>
        </p>
        <div th:if="${filings != null && filings.size() > 0}">
            <h3 class="govuk-heading-m">Results</h3>
            <div th:each="filing, iter : ${filings}" th:id="|result-${iter.index}|">
                <hr style="margin-bottom:2em;"/>
                <div class="govuk-grid-row" style="margin-bottom: 1rem;">
                    <div class="govuk-grid-column-three-quarters">
                        <h3 class="govuk-heading-m" style="display:inline" th:text="${filing.companyName}"></h3>
                        <span th:switch="${filing.registryCode}">
                            <strong th:each="registryCode:${T(com.frc.codex.RegistryCode).values()}"
                                    th:case="${registryCode.code}"
                                    th:class="${registryCode.tagClass}"
                                    th:text="${registryCode.shortName}"
                                    style="padding-bottom:0;"></strong>
                        </span>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half" style="padding-left: 2em;">
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                                <dt th:switch="${filing.registryCode}" class="govuk-summary-list__key">
                                    <span th:each="registryCode:${T(com.frc.codex.RegistryCode).values()}"
                                          th:case="${registryCode.code}"
                                          th:text="${registryCode.companyFileReference}" ></span>
                                    <span th:case="*">Company No.</span>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <a class="govuk-link govuk-link--no-underline"
                                       th:text="${filing.getCompanyNumber()}"
                                       th:href="@{/(searchText=${filing.getCompanyNumber()})}"></a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Document Date
                                </dt>
                                <dd class="govuk-summary-list__value" th:text="${filing.displayDocumentDate()}"></dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Filing Date
                                </dt>
                                <dd class="govuk-summary-list__value" th:text="${filing.displayFilingDate()}"></dd>
                            </div>
                            <div class="govuk-summary-list__row" th:if="${searchFilingsRequest.admin}">
                                <dt class="govuk-summary-list__key">
                                    Status
                                </dt>
                                <dd th:switch="${filing.status}" class="govuk-summary-list__value" style="text-transform: capitalize">
                                    <strong class="govuk-tag govuk-tag--grey" th:case="'pending'" th:text="${filing.status}"></strong>
                                    <strong class="govuk-tag govuk-tag--blue" th:case="'queued'" th:text="${filing.status}"></strong>
                                    <strong class="govuk-tag govuk-tag--red" th:case="'failed'" th:text="${filing.status}"></strong>
                                    <strong class="govuk-tag govuk-tag--green" th:case="'completed'" th:text="${filing.status}"></strong>
                                    <strong class="govuk-tag govuk-tag--grey" th:case="*" th:text="${filing.status}"></strong>
                                </dd>
                            </div>
                        </dl>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <b class="govuk-!-display-block">Download:</b>
                            <a th:href="${filing.getXbrlCsvUrl()}" class="govuk-link govuk-link--no-underline govuk-!-display-block">
                                xBRL-CSV
                            </a>
                            <a th:href="${filing.getXbrlJsonUrl()}" class="govuk-link govuk-link--no-underline govuk-!-display-block">
                                xBRL-JSON
                            </a>
                            <a th:href="${filing.getDownloadUrl()}" class="govuk-link govuk-link--no-underline govuk-!-display-block">
                                Filing
                            </a>
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-button-group" style="justify-content: flex-end;">
                            <a th:href="${filing.getViewerLink()}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                                Viewer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p th:if="${moreResultsLink != null}" class="govuk-body" style="text-align: center">
                <a th:href="${moreResultsLink}">Load more filings</a>
            </p>
            <p th:if="${maximumResultsReturned}" class="govuk-body" style="text-align: center">
                Maximum number of results returned. Please refine your search.
            </p>
        </div>
    </main>
</div>
<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/FRC_Codex_User_Guide.pdf">
                            User Guide
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/help">
                            Contact Us
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/survey">
                            Survey
                        </a>
                    </li>
                </ul>
                <svg
                        aria-hidden="true"
                        focusable="false"
                        class="govuk-footer__licence-logo"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 483.2 195.7"
                        height="17"
                        width="41">
                    <path
                            fill="currentColor"
                            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                </svg>
                <span class="govuk-footer__licence-description">
            All content is available under the
            <a
                    class="govuk-footer__link"
                    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                    rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
            </div>
            <div class="govuk-footer__meta-item">
                <div>
                    <img src="/logo_black.svg"
                         alt="FRC Logo"
                         height="30"
                         width="70">
                </div>
                <a
                        class="govuk-footer__link"
                        href="https://www.frc.org.uk/about-us/policies-and-procedures/disclaimer-and-copyright/">
                    © FRC copyright
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="module" src="/govuk-frontend.min.js"></script>
<script type="module">
    import {
        initAll
    } from '/govuk-frontend.min.js'
    initAll()
</script>
<script>
    sessionStorage.removeItem('ixbrl-viewer-home-link-query');
    let query = window.location.search;
    if (query && query.length > 0) {
        if (query[0] === '?') {
            query = query.substring(1);
        }
        sessionStorage.setItem('ixbrl-viewer-home-link-query', query);
    }
</script>
<script>
    (function() {
        // If any input elements within #advanced-search have values, open the details element
        const advancedSearch = document.getElementById('advanced-search');
        const inputs = advancedSearch.querySelectorAll('input, select');
        for (const input of inputs) {
            if (input.value) {
                advancedSearch.setAttribute('open', '');
                break;
            }
        }
    })();
</script>
</body>

</html>
