<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FRC CODEx Filing Index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1><a href="/">FRC CODEx Filing Index</a></h1>
    <h2>Tests</h2>
    <ul>
        <li><a href="/nonexistent">Error Page</a></li>
        <li><a href="/admin/smoketest/companieshouse/company/00324341">Companies House - Company</a></li>
        <li><a href="/admin/smoketest/companieshouse/stream">Companies House - Stream</a></li>
        <li><a href="/admin/smoketest/database">Database</a></li>
    </ul>
    <h2>Configuration</h2>
    <table>
        <tr>
            <th>Companies House Document API URL</th>
            <td th:text="${chDocumentUrl}">N/A</td>
        </tr>
        <tr>
            <th>Companies House Information API URL</th>
            <td th:text="${chInformationUrl}">N/A</td>
        </tr>
        <tr>
            <th>Companies House Stream API URL</th>
            <td th:text="${chStreamUrl}">N/A</td>
        </tr>
        <tr>
            <th>Companies House REST API Key Configured</th>
            <td th:text="${chRestApiKey}">N/A</td>
        </tr>
        <tr>
            <th>Companies House Stream API Key Configured</th>
            <td th:text="${chStreamApiKey}">N/A</td>
        </tr>
    </table>
</div>
</body>
</html>
