<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head th:replace="fragments/page :: head-main (title='Loading viewer...')"></head>
<body class="govuk-template__body">
<script th:replace="fragments/page :: script-govuk-frontend-supported"></script>
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
<header class="govuk-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <img src="/logo.svg"
                 alt="CODEx Logo"
                 height="30"
                 width="110">
        </div>
        <div class="govuk-header__content">
            <a href="/" class="govuk-header__link govuk-header__service-name">
                UK iXBRL Viewer
            </a>
        </div>
    </div>
</header>
<div class="loading-bar">
    <div>
        <img src="/icons/loading.svg" alt="Loading icon"/>
    </div>
    <div style="max-width:50%;">
        <h2 class="govuk-heading-m" style="margin:0;">Loading...</h2>
        <p class="govuk-body" style="margin:0;">
            This viewer is currently being generated. Please wait a moment...
        </p>
    </div>
</div>
<iframe
        th:src="${iframeSrc}"
        style="position:absolute;width:100%;height:100%;background:white;">
</iframe>
<script>
    // Redirect to the wait page
    window.location.href = 'wait';
</script>
</body>

</html>
